<div class="card">
  <div class="card-header">
    <!-- Interpolated text using binding -->
    {{pageTitle}}
  </div>

  <div class="card-body">

    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <input type="text" name="term" id="term"
        [(ngModel)] = 'listFilter'/>
      </div>
      <div class="col-md-6"></div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h4>Filter By: {{listFilter}}</h4>
        </div>
        <div class="col-md-6"></div>
      </div>

      <ng-container
        *ngIf="products.length>0; then productsExist; else noProducts">
      </ng-container>

  </div>

</div>






<ng-template #productsExist>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col"><button class="btn btn-primary btn-sm"
            (click)='toggleImage()'>{{showImage ? 'Hide':'Show'}} Image</button></th>
          <th scope="col">Code</th>
          <th scope="col">Realease Date</th>
          <th scope="col">Description</th>
          <th scope="col">Rating</th>
          <th scope="col">Price</th>
        </tr>
      </thead>
      <tbody>
        <!-- <tr *ngFor="let product of products; let i = index" [attr.data-index]="i"> -->
        <tr *ngFor="let product of filteredProducts; let i = index" [attr.data-index]="i">
          <td>{{i+1}}</td>
          <td>{{product.name}}</td>
          <td> <img *ngIf='showImage' src="{{product.image}}"
            height="65" width="65" class="img-fluid" alt="Image"></td>
          <td>{{product.code | uppercase | convertToSpaces:'+'}}</td>
          <td>{{product.release_date}}</td>
          <td>{{product.description}}</td>
          <td>{{product.ratings}}</td>
          <td>{{product.price | currency:'KES ':'symbol':'1.1-2'}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-template>

<ng-template #noProducts>
  <p  class="p-5 text-center text-muted">No products</p>
</ng-template>
